#experience {
  background-color: #ffffff;
  padding: 60px 5%;
}

#experience h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ff5722;
}

#experience h3 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: #ff5722;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 30px auto 0;
  padding: 20px;
  gap: 20px;
}

.card-list .card-item {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  border: 2px solid transparent;
  transition: border 0.5s ease;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.card-list .card-item:hover {
  border: 1px solid #000;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.card-list .card-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.card-item span {
  display: inline-block;
  margin-top: 32px;
  padding: 8px 15px;
  font-size: 1rem;
  border-radius: 50px;
  font-weight: 600;
  background-color: #f7dff5;
  color: #b22485;
}

.card-item h4 {
  color: #000;
  font-size: 1rem;
  margin-top: 28px;
  font-weight: 500;
}

.card-item .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}

.card-list .card-item:hover .arrow {
  background: #000;
  color: #fff;
}

@media (max-width: 1200px) {
  .card-list .card-item {
    padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
    margin: 0 auto;
  }
}
